.search-container {
    text-align: center;
    margin: 3rem 0 1rem 0; 
    display: flex;
    justify-content: center; 
    padding: 0 1rem;
}

.input-busca {
    padding: 1rem 1.5rem;
    width: 100%;
    max-width: 550px;
    border-radius: 30px;
    border: 2px solid #e2e8f0;
    font-size: 1.1rem;
    color: #1C1917;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    
    &:focus {
        border-color: #DC2626; 
        box-shadow: 0 0 0 4px rgba(220, 38, 38, 0.15);
    }
}