<footer class="footer-tcs">
    <div class="footer-content">
        <div class="social-section">
            <p>Redes Sociais</p>
            <ul class="social-links">
                <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">X</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="direitos-reservados">&copy; Direitos Reservados a FTM</p>
    </div>
</footer>