.bar-nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bar-nav li a {
    color: #e2e8f0;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 0;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;

    &:hover {
        color: #ffffff;
        border-bottom: 2px solid #DC2626; /* Sublinhado Vermelho Tomate */
    }
}